# Node.js
/node_modules
/.pnp
.pnp.js

# Test
/coverage

# Build
/build

# Misc
.DS_Store
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
staticfiles/
*.mo

# Virtual Environment
Portifolio_Back_end/venv/

# VSCode
.vscode/

# ESLint cache
Portifolio_Front_end/node_modules/.cache/
